body{
    background-color: #1C1D1F;
}
.navbar{
    background-color: #1C1D1F !important;
    
}
.nav-link{
    color: #E3CBAF !important;
    font-size: 22px !important;
}
.navbar-brand img{
    width: 150px;
    height: 70px;
}
.dropdown-menu{
    background-color:#1C1D1F ;
}
.dropdown-item{
    color:#E3CBAF !important ;
}
.dropdown-menu li a:hover{
    background-color: black !important;
    border-bottom: #E3CBAF 1px solid;
}
.fa-cart-arrow-down{
     font-size: 28px !important;
}
.fa-user-circle-o, .fa-headphones, .fa-certificate, .fa-truck{
    font-size: 28px !important;
    margin-right: 15px;
}
.card1 , .card2, .card3{
    display: flex;
    height: 100px;
    width: 200px;
    box-shadow: 3px 4px 5px #E3CBAF;
    margin-top: 30px;
    color: #E3CBAF;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    
}
.mainCard{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
@media screen and (max-width: 600px) {
    .card1 , .card2, .card3{
        width: 100%;
    }
}